@keyframes slideIN {
  0% {
    opacity: 0;
    left: -1000vw;
  }
  50% {
    opacity: 1;
    left: -500vw;
  }
  100% {
    opacity: 1;
    left: 0;
  }
  
}

@keyframes slideOUT {
  0% {
    opacity: 1;
    left: 0;
  }
  50% {
    opacity: 1;
    left: 500vw;
  }
  100% {
    opacity: 0;
    left: 1000vw;
  }
  
}