.mdi
	font-size 24px
.mdc-button,
.mdc-button--raised:not(:disabled),
.mdc-button--unelevated:not(:disabled)
	background-color $bmw-black !important
.mdc-card
	width 100%
	margin .5rem 0rem 1.5rem 0rem
	transition opacity 1.5s ease-in-out,height 0.75s ease-in-out
	box-shadow 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important
.mdc-card_video
	// height -webkit-fill-available !important
.mdc-card__media
	height inherit !important
.mdc-card__actions
	display inline-flex !important
	flex-direction row !important
	align-items center !important
	box-sizing border-box !important
	min-height 4em !important
	padding 0.5em 0.5em 0em 0.5em !important
	margin-left auto !important
	margin-right auto !important
	margin-bottom 1rem !important
.mdc-card__media-content
	background-repeat no-repeat !important
	background-size cover !important
	background-position 50% 50% !important
.mdc-card__media-video
	// height fit-content
.mdc-card__media-video > video
	object-fit scale-down !important
	width 100%
	height auto
.mdc-card__primary-action::before,
.mdc-card__primary-action::after 
	width 100% !important
	height 4rem !important
	left unset !important
	top unset !important
.mdc-card__primary-action
	cursor default !important
.mdc-icon-button__icon.mdc-icon-button__icon--on
	display inline-block !important
.mdc-card__action--icon
		&:not(:disabled)
			color unset !important
.mdc-card__action--text,
.mdc-card__action--text#static,
.mdc-card__action--text#thrill,
.mdc-card__action--text#aesthetics,
.mdc-card__action--text#aesthetic,
.mdc-card__action--text#pioneering,
.mdc-card__action--text#independent
	text-align center !important
	font-weight 600 !important
	font-size 1rem !important
	padding-left 5px !important
.mdc-card__influencer
	margin 1rem 1rem 1rem 1rem
	font-weight 600
	padding-bottom 16px
	width 30px
	.story-marker
		position absolute
		right 0.5vw
		top 0.1vh
		width 60px
		height 18px
		margin 1rem
		font-size 0.5em
		text-align center
		padding-top 0.2vh
	.bottom-line
		position absolute
		width 30px
		height 30px
		top 7.75vh
.mdc-card__influencer#thrill,
.mdc-card__influencer#static
	border-bottom 1.5px solid $thrill-font
	.story-marker
		border 1px solid $thrill-font
		border-radius 3px
	.bottom-line
		border-bottom 1.5px solid $thrill-font
.mdc-card__influencer#aesthetic,
.mdc-card__influencer#aesthetics
	border-bottom 1.5px solid $aesthetic-font
	.story-marker
		border 1px solid $aesthetic-font
		border-radius 3px
	.bottom-line
		border-bottom 1.5px solid $aesthetic-font
.mdc-card__influencer#pioneering
	border-bottom 1.5px solid $pioneering-font
	.story-marker
		border 1px solid $pioneering-font
		border-radius 3px
	.bottom-line
		border-bottom 1.5px solid $pioneering-font
.mdc-card__influencer#independent
	border-bottom 1.5px solid $independent-font
	.story-marker
		border 1px solid $independent-font
		border-radius 3px
	.bottom-line
		border-bottom 1.5px solid $independent-font
.mdc-card__text
	margin 0rem 1rem 0rem 1rem
	color rgba(0,0,0,0.5) !important
#thrill,
#static
	color $thrill-font
#aesthetic,
#aesthetics
	color $aesthetic-font
#pioneering
	color $pioneering-font
#independent
	color $independent-font
.mdc-icon-button
	padding 8px !important
.mdc-icon-button svg,
.mdc-icon-button img
	width 32px
	height 32px
	max-width inherit !important
.mdc-card__action--icon
	padding 2rem !important
.mdc-list
	background-color $bmw-black
	color $white
.mdc-list-item
	background-color $bmw-black
	cursor default !important
	&:hover
		background-color $bmw-blue
.mdc-list-item__graphic
	color rgba(255,255,255,.5)
	background-color: rgba(255,255,255,.25)
.mdc-list-item__text
	cursor text !important
.mdc-list-item__secondary-text
	color rgba(255, 255, 255, 0.54)
.mdc-list-item__meta
	color rgba(255,255,255,.75)
.mdc-checkbox__background
	background rgba(255,255,255,.75)
	color rgba(0,0,0,.75)
.mdc-checkbox__native-control
	&:enabled
		&:not(:checked):not(:indeterminate)
			& ~ .mdc-checkbox__background
				border-color rgba(255, 255, 255, 0.54)
				background-color transparent
.mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background, .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background
	border-color $white
	background-color: $bmw-blue


