// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------

// Container
$container 		= 940px

// Font stacks (add your own!)
$font   		= Roboto, sans-serif
$font-size 		= 14px


// Sections/Attitude NEW Colors
$red				= rgba(178,15,20,1)
$red-medium			= rgba(178,15,20,0.6)
$red-lite			= rgba(178,15,20,0.3)
$blue				= rgba(23,92,178,1)
$blue-medium		= rgba(23,92,178,0.6)
$blue-lite			= rgba(23,92,178,0.3)
$green 				= rgba(0,153,153,1)
$green-medium		= rgba(0,153,153,0.6)
$green-lite			= rgba(0,153,153,0.3)
$yellow				= rgba(198,231,0,1)
$yellow-medium		= rgba(198,231,0,0.6)
$yellow-lite		= rgba(198,231,0,0.3)

$blue-lite-bg		= rgba(46,162,204,1)
$blue-liter-bg		= rgba(46,162,204,0.13)
$blue-dark-font		= rgba(46,94,114,1)
// Colors (via http://clrs.cc - slightly modded)
$navy     		= #001F3F
// $blue     		= #1C69D4
$aqua     		= #7FDBFF
$teal     		= #39CCCC
$olive    		= #3D9970
// $green    		= #41A62B
$lime     		= #01FF70
// $yellow   		= #FFDC00
$orange   		= #FF851B
// $red      		= #FF4136
$maroon   		= #85144B
$fuchsia  		= #E2007A
$purple   		= #B10DC9
$white    		= #FFFFFF
$silver   		= #DDDDDD
$grey     		= #4C5463
$black    		= #283141

// Use as default HTML colors
navy    		= $navy
blue    		= $blue
aqua    		= $aqua
teal    		= $teal
olive   		= $olive
green   		= $green
lime    		= $lime
yellow  		= $yellow
orange  		= $orange
red     		= $red
maroon  		= $maroon
fuchsia 		= $fuchsia
purple  		= $purple
white   		= $white
silver  		= $silver
grey    		= $grey
black   		= $black


// Custom image base path for axis mixins
$img-path 		= '../../assets/images/'

// Ligatures
$ligatures 		= false
