.content#devices
	width 100%
	.devices
		width 100%
		height calc(100vh - 94px)
		.title
			width 100%
			margin-bottom 32px
			font-weight 300
			font-size 18px
			line-height 1.5
			.icon
				width 23px
				height 23px
				float left
			.icon#icon-piano
				background url('../images/icons/icon-piano_blue.svg') center no-repeat
				background-size cover
			.text
				width 75%
				margin-left 32px
				color $blue-dark-font
		.device
			column(1/4, $cycle: 4)
			height 100%
			max-height 106px
			margin-bottom 24px
			padding 8px
			border 1px dotted $blue-dark-font
			border-top-left-radius: 10px
			border-bottom-right-radius: 10px
			border-top-right-radius: 0px
			border-bottom-left-radius: 0px
			background $blue-lite-gradient-45
			box-shadow $shadow_default_lite
			transform scale(1)
			// cursor pointer
			transition all 0.25s ease-in-out
			&:hover
				border 2px solid $blue-dark-font
				background $blue-lite-gradient-0
				transform scale(1.1)
				box-shadow $shadow_default
				.settings
					opacity 0.5
			.settings
				z-index 99
				cursor pointer
				position absolute
				right 8px
				width 23px
				height 23px
				background url('../images/icons/icon-settings.svg') center no-repeat
				background-size cover
				opacity 0
				transform scale(0.75)
				filter grayscale(1)
				transition all 0.25s ease-in-out
				&:hover
					filter grayscale(1)
					opacity 1
					transform scale(1)
			.icon
				width 46px
				height 46px
				float left
				margin-right 8px
				background url('../images/icons/icon-piano.svg') center no-repeat
				background-size cover
			.title
				width calc(100% - 48px)
				margin 0px
				font-weight 800
				font-size 20px
				line-height 1.1
			.portid
				float left
				font-size 18px
				font-weight 300
				line-height 1.5
				margin-bottom 8px
			.midi
				clear both
				width 100%
				height 32px
				border 1px solid rgba(46,94,114,0.25)
				padding 3.5px
				background-color rgba(255,255,255,0.74)
				.icon
					float left
					width 23px
					height 23px
					margin-right 8px
					background url('../images/icons/icon-midiport.svg') center no-repeat
					background-size cover
				.command
					float left
					width calc(100% - 31px)
					font-size 16px
					font-weight 600
					line-height 1.5
	.editor
		z-index 90
		position absolute
		top calc(50% - 147px)
		left calc(50% - 256px)
		width 512px
		height 196px
		background-color $blue-form-bg
		padding 16px
		opacity 0
		transform scaleY(0)
		box-shadow $shadow-white_medium
		transition all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1)
		.icon
			float left
			height 56px
			.icon-icon
				height inherit
				margin-right 8px
				cursor pointer
				.icon-image
					float left
					height 56px
			.icon-picker
				z-index 100
				position absolute
				top 16px
				width 0%
				opacity 0
				max-width 470px
				height auto
				padding-left 8px
				background-color rgba(255,255,255,1)
				border 1px solid $blue-dark-font
				border-radius 5px
				transition all 0.25s ease-in-out
				.icons
					.icon
						column(1/8, $cycle: 8)
						img
							width 56px
							height 56px
							cursor pointer
			.icon-input
				float left
		.form
			.mdc-text-field
				float left
				margin-right 8px
			#input_device_desc
				clear both !important
				float left
				margin-left 64px
				margin-top 8px
				width 100%
				max-width 406px
		.buttons
			float none
			clear both
			text-align right
			width 100%
			max-width 406px
			padding-top 8px
			margin-left 64px
