.index-logo
	transition all 0.75s ease-in-out
.index-logo#index-logo_blue
	display inline-flex
	opacity 1
.index-logo#index-logo_green
	display none
	opacity 0
.index-logo#index-logo_red
	display none
	opacity 0
.index-logo#index-logo_yellow
	display none
	opacity 0
