.index-logo
	transition all 0.75s ease-in-out
.index-logo#index-logo_blue
	display inline-flex
	opacity 1
.index-logo#index-logo_green
	display inline-flex
	opacity 1
.index-logo#index-logo_red
	display inline-flex
	opacity 1
.index-logo#index-logo_yellow
	display inline-flex
	opacity 1
.index-logo#index-logo-font_white
	display inline-flex
	opacity 1
