      <!-- DEVICES -->
      <div class="content content-zero" id="devices">
      	<div class="devices"></div>
      	<div class="editor" id="editor">
      		<form onsubmit="closeEditor();">
      			<div class="icon" id="icon-click">
      				<div class="icon-icon" onclick="iconPicker();" toggle="disabled">
      					<img class="icon-image" src="assets/images/icons/icon-piano.svg" />
      				</div>
                              <!-- ICON PICKER -->
      				<div class="icon-picker" id="icon-picker" onmouseleave="iconPickerFocusOut();">
      					<div class="icon-picker_icons" id="icon-picker_icons">
      						<div class="icon-picker_icon" id="icon-piano" onclick="javascript:iconPickerSelectIcon(this);"></div>
      						<div class="icon-picker_icon" id="icon-midi-16xfader" onclick="javascript:iconPickerSelectIcon(this);"></div>
                                          <div class="icon-picker_icon" id="icon-midi-4x2-knobs" onclick="javascript:iconPickerSelectIcon(this);"></div>
                                          <div class="icon-picker_icon" id="icon-midi-4x2" onclick="javascript:iconPickerSelectIcon(this);"></div>
                                          <div class="icon-picker_icon" id="icon-midi-4x4" onclick="javascript:iconPickerSelectIcon(this);"></div>
                                          <div class="icon-picker_icon" id="icon-midi-minikeys" onclick="javascript:iconPickerSelectIcon(this);"></div>
                                          <div class="icon-picker_icon" id="icon-midi-mixer-fader" onclick="javascript:iconPickerSelectIcon(this);"></div>
                                          <div class="icon-picker_icon" id="icon-midi-mixer-knobs" onclick="javascript:iconPickerSelectIcon(this);"></div>
                                          <div class="icon-picker_icon" id="icon-midi-nocturn" onclick="javascript:iconPickerSelectIcon(this);"></div>
      					</div>
      				</div>
                              <!-- ICON PICKER -->
      			</div>
      			<div class="form">
      				<label class="mdc-text-field">
      					<div class="mdc-text-field__ripple"></div>
      					<input class="mdc-text-field__input" type="text" aria-labelledby="device_title_label" id="device_title" name="device_title" value="">
      					<span class="mdc-floating-label" id="device_title_label">name</span>
      					<div class="mdc-line-ripple"></div>
      				</label>
					<label class="mdc-text-field">
						<div class="mdc-text-field__ripple"></div>
						<input class="mdc-text-field__input" type="text" aria-labelledby="device_usbid_label" id="device_usbid" name="device_usbid" value="">
						<span class="mdc-floating-label" id="device_usbid_label">usbid</span>
						<div class="mdc-line-ripple"></div>
					</label>
					<label class="mdc-text-field" id="input_device_desc">
						<div class="mdc-text-field__ripple"></div>
						<input class="mdc-text-field__input" type="text" aria-labelledby="device_desc_label" id="device_desc" name="device_desc" value="">
						<span class="mdc-floating-label" id="device_desc_label">description</span>
						<div class="mdc-line-ripple"></div>
					</label>
      				<input type="hidden" name="device_id" id="device_id" value="">
      				<input type="hidden" name="device_icon" id="device_icon" value="">
      			</div>
      			<div class="buttons">
      				<button class="mdc-button" type="button" id="btn-cancel" onclick="closeEditor();">
      					<div class="mdc-button__ripple" id="cancel"></div>
      					<i class="material-icons mdc-button__icon" aria-hidden="true">cancel</i>
      					<span class="mdc-button__label">cancel</span>
					</button>
					<button class="mdc-button" id="btn-submit" type="button" onclick="submitEditor();closeEditor();">
						<div class="mdc-button__ripple"></div>
						<i class="material-icons mdc-button__icon" aria-hidden="true">save</i>
						<span class="mdc-button__label">save</span>
					</button>
      			</div>
      		</form>
      	</div>
      </div>