      <!-- LOGS -->
      <div class="content content-zero" id="logs">
        <div class="frames">
          <div class="frame" id="filelist">
            <div class="title">
              <div class="icon" id="icon-file-tree"></div>
              <div class="text">files</div>
            </div>
            <div class="files">
              <div class="file" logFile="midiDisplay.log" onclick="loadLog('midiDisplay.log');">
                <div class="icon" id="icon-file-document"></div>
                <div class="name">midiDisplay.log</div>
                <div class="size">6.34KB</div>
                <div class="modified">01-01-2020 18:01:23</div>
              </div>
              <div class="file" logFile="midiDisplay.list" onclick="loadLog('midiDisplay.list');">
                <div class="icon" id="icon-file-document"></div>
                <div class="name">midiDisplay.list</div>
                <div class="size">100Kb</div>
                <div class="modified">01-01-2020 18:01:23</div>
              </div>
              <div class="file" logFile="midiDisplay.dump" onclick="loadLog('midiDisplay.dump');">
                <div class="icon" id="icon-file-document"></div>
                <div class="name">midiDisplay.dump</div>
                <div class="size">768KB</div>
                <div class="modified">01-01-2020 18:01:23</div>
              </div>
              <div class="file" logFile="midiDisplay.packets" onclick="loadLog('midiDisplay.packets');">
                <div class="icon" id="icon-file-document"></div>
                <div class="name">midiDisplay.packets</div>
                <div class="size">3.4MB</div>
                <div class="modified">01-01-2020 18:01:23</div>
              </div>
              <div class="file" logFile="midiDisplay.portids" onclick="loadLog('midiDisplay.portids');">
                <div class="icon" id="icon-file-document"></div>
                <div class="name">midiDisplay.portids</div>
                <div class="size">100Kb</div>
                <div class="modified">01-01-2020 18:01:23</div>
              </div>
              <div class="file" logFile="midiDisplay-multimidicast.log" onclick="loadLog('midiDisplay-multimidicast.log');">
                <div class="icon" id="icon-file-document"></div>
                <div class="name">multimidicast.log</div>
                <div class="size">13.2MB</div>
                <div class="modified">01-01-2020 18:01:23</div>
              </div>
              <div class="file" logFile="midiDisplay-raveloxmidi.log" onclick="loadLog('midiDisplay-raveloxmidi.log');">
                <div class="icon" id="icon-file-document"></div>
                <div class="name">raveloxmidi.log</div>
                <div class="size">2.67MB</div>
                <div class="modified">01-01-2020 18:01:23</div>
              </div>
            </div>
          </div>
          <div class="frame" id="fileviewer">
            <div class="title">
              <div class="icon" id="icon-file-list"></div>
              <div class="text">view</div>
            </div>
            <div class="file-viewer" id="file-viewer" filePath="logs/"><p></p></div>
          </div>
        </div>
      </div>
