      <!-- SETTInGS -->
      <div class="content content-zero" id="settings">
        <div class="header">
            <div class="title">
              <div class="icon" id="icon-settings"></div>
              <div class="text">settings</div>
            </div>
        </div>
        <div class="settings">
        	<div class="setting">
	        	<div class="name">BASE Dir</div>
	        	<div class="value">
	        		<label class="mdc-text-field">
      					<div class="mdc-text-field__ripple"></div>
      					<input class="mdc-text-field__input" type="text" aria-labelledby="device_title_label" id="device_title" name="device_title" value="">
      					<span class="mdc-floating-label" id="device_title_label">name</span>
      					<div class="mdc-line-ripple"></div>
      				</label>
	        	</div>
	        </div>
	        <div class="setting">
	        	<div class="name">IP</div>
	        	<div class="value">
	        		<label class="mdc-text-field">
      					<div class="mdc-text-field__ripple"></div>
      					<input class="mdc-text-field__input" type="text" aria-labelledby="device_title_label" id="device_title" name="device_title" value="">
      					<span class="mdc-floating-label" id="device_title_label">name</span>
      					<div class="mdc-line-ripple"></div>
      				</label>
	        	</div>
	        </div>
	        <div class="setting">
	        	<div class="name">WWW Port</div>
	        	<div class="value">
	        		<label class="mdc-text-field">
      					<div class="mdc-text-field__ripple"></div>
      					<input class="mdc-text-field__input" type="text" aria-labelledby="device_title_label" id="device_title" name="device_title" value="">
      					<span class="mdc-floating-label" id="device_title_label">name</span>
      					<div class="mdc-line-ripple"></div>
      				</label>
	        	</div>
	        </div>
	        <div class="setting">
	        	<div class="name">CTRL Port</div>
	        	<div class="value">
	        		<label class="mdc-text-field">
      					<div class="mdc-text-field__ripple"></div>
      					<input class="mdc-text-field__input" type="text" aria-labelledby="device_title_label" id="device_title" name="device_title" value="">
      					<span class="mdc-floating-label" id="device_title_label">name</span>
      					<div class="mdc-line-ripple"></div>
      				</label>
	        	</div>
	        </div>
	        <div class="setting">
	        	<div class="name">DATA Port</div>
	        	<div class="value">
	        		<label class="mdc-text-field">
      					<div class="mdc-text-field__ripple"></div>
      					<input class="mdc-text-field__input" type="text" aria-labelledby="device_title_label" id="device_title" name="device_title" value="">
      					<span class="mdc-floating-label" id="device_title_label">name</span>
      					<div class="mdc-line-ripple"></div>
      				</label>
	        	</div>
	        </div>
	        <div class="setting">
	        	<div class="name">LOCAL Port</div>
	        	<div class="value">
	        		<label class="mdc-text-field">
      					<div class="mdc-text-field__ripple"></div>
      					<input class="mdc-text-field__input" type="text" aria-labelledby="device_title_label" id="device_title" name="device_title" value="">
      					<span class="mdc-floating-label" id="device_title_label">name</span>
      					<div class="mdc-line-ripple"></div>
      				</label>
	        	</div>
	        </div>
	        <div class="setting">
	        	<div class="name">IPV6</div>
	        	<div class="value" style="line-height 56px;">
	        		<div class="mdc-switch mdc-switch--disabled">
							  <div class="mdc-switch__track"></div>
							  <div class="mdc-switch__thumb-underlay">
							    <div class="mdc-switch__thumb"></div>
							    <input type="checkbox" id="another-basic-switch" class="mdc-switch__native-control" role="switch" aria-checked="false" disabled>
							  </div>
							</div>
							<label for="another-basic-switch">off/on</label>
	        	</div>
	        </div>
	        <div class="setting">
	        	<div class="name">AUTOSTART</div>
	        	<div class="value" style="line-height 56px;">
	        		<div class="mdc-switch mdc-switch--checked">
							  <div class="mdc-switch__track"></div>
							  <div class="mdc-switch__thumb-underlay">
							    <div class="mdc-switch__thumb"></div>
							    <input type="checkbox" id="another-basic-switch" class="mdc-switch__native-control" role="switch" aria-checked="true" checked>
							  </div>
							</div>
							<label for="another-basic-switch">off/on</label>
	        	</div>
	        </div>
	        <div class="setting">
	        	<div class="name">LOGFILES Dir</div>
	        	<div class="value">
	        		<label class="mdc-text-field">
      					<div class="mdc-text-field__ripple"></div>
      					<input class="mdc-text-field__input" type="text" aria-labelledby="device_title_label" id="device_title" name="device_title" value="">
      					<span class="mdc-floating-label" id="device_title_label">name</span>
      					<div class="mdc-line-ripple"></div>
      				</label>
	        	</div>
	        </div>
	        <div class="setting">
	        	<div class="name">...</div>
	        	<div class="value">
	        		<label class="mdc-text-field">
      					<div class="mdc-text-field__ripple"></div>
      					<input class="mdc-text-field__input" type="text" aria-labelledby="device_title_label" id="device_title" name="device_title" value="">
      					<span class="mdc-floating-label" id="device_title_label">name</span>
      					<div class="mdc-line-ripple"></div>
      				</label>
	        	</div>
	        </div>
        </div>
      </div>
